.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 10s ease-in-out;
  height: 30vmin;
  position: relative;
}

@keyframes App-logo-spin {
  0% {
    transform: rotate(0deg);
    top: 0;
  }
  20% {
    transform: rotate(360deg);
    top: 450px;
  }
  40% {
    transform: rotate(0deg);
    top: 0;
  }
  60% {
    transform: rotate(360deg);
    left: 0;
  }
  80% {
    transform: rotate(0deg);
    left: 300px;
  }
  100% {
    transform: rotate(360deg);
    left: 0;
  }
}
